#search-engine {
    display: flex;
    justify-content: center;
    margin: 10px;
}

#city-input {
    margin: 0 5px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #f9f7feda;
    border: none;
    padding: 18px;
    font-size: 16px;
}

button {
border: 1px solid #ccc;
border-radius: 5px;
background-color: #51a6df;
cursor: pointer;
border: none;
margin: 0 5px;
padding: 18px;
font-size: 16px;
}

button:hover {
    background-color: #509ed3;
    transition: background-color 0.3s ease-in-out;
    
}


#city, h1 {
    font-size: 50px;
    margin-bottom: 20px;
    margin-top: 40px;
    font-weight: 750;
}

#wind-speed {
 color: #0000FF;
 font-weight: 800;
}

#humidity {
    color: #0000FF;
    font-weight: 800;
}

#current-temperature {
    display: flex;
    justify-content: end;
    font-size: 65px;
    font-weight: 750;
    margin-top: -100px;
    
    
}

#temperature-number {
    font-weight: 700;
    font-size: 70px;
}

#degrees-celsius {
    display: flex;
    justify-content: end;
    font-size: 24px;
    margin-top: 12px;
}

#weather-icon {
    margin-top: -8px;
}

#weather-info {
    font-size: 20px;
}

body {
    display: block;
    max-width: 650px;
    margin: 0 auto;
    font-family: "Roboto", sans-serif;
    border-radius: 10px;
    border: 1px solid #cccccc6e;
    padding: 60px;
    margin: 50px auto;
    background-image: url("https://images.pexels.com/photos/1431822/pexels-photo-1431822.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(3px);
}

footer {
    text-align: center;
    margin-top: 120px;
    font-size: 16px;
    
}

a { 
    text-decoration: none;
    color: #ffffff;
}