#search-engine {
    display: flex;
    justify-content: center;
    margin: 10px;
}

#city-input {
    margin: 0 5px;
    width: 75%;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #f9f7feda;
    border: none;
    padding: 18px;
    font-size: 16px;
}

#city {
    font-size: 50px;
    margin-bottom: 20px;
}

button {
border: 1px solid #ccc;
border-radius: 5px;
background-color: #51a6df;
cursor: pointer;
border: none;
margin: 0 5px;
padding: 18px;
font-size: 16px;
}

button:hover {
    background-color: #509ed3;
    transition: background-color 0.3s ease-in-out;
    
}